.c-comments {
  padding: 8px;

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;

    &:first-of-type {
      margin-top: 16px;
    }

    &__text {
      font-size: 12px;
      font-weight: 700;
    }
  }
}
